{% extends "base.html" %}
{% block title %}Followers{% endblock %}
{% load static %}
{% block 'additional_includes' %}
<link rel="stylesheet" href="{% static 'list.css' %}">
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-9">
		<h1>Followers</h1>
		<div id="people-list">
		{% for follower in followers %}
		<div class="user">
		<a href="{{ follower.get_absolute_url }}">
		<img src="{{ follower.profile.photo.url }}" class="img-rounded" width="304" height="236">
		</a>
		<div class="info">
		<a href="{{ follower.get_absolute_url }}" class="title">
		{{ follower.get_full_name }}
		</a>
		</div>
		</div>
		{% endfor %}
		</div>
	</div>
	<div class="col-sm-2"></div>
</div>
{% endblock %}