{% extends "base.html" %}
{% load static %}
{% block 'additional_includes' %}
<link rel="stylesheet" href="{% static 'list.css' %}">
{% endblock %}
{% block title %}People{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-9">
		<h1>People</h1>
		<div id="people-list">	
			{% for user in users %}
			<div class="user">
				<a href="{{ user.get_absolute_url }}">
				<img src="{{ user.profile.photo.url }}" class="img-rounded" width="304" height="236">
				</a>
				<div class="info">
					<a href="{{ user.get_absolute_url }}" class="title">
					{{ user.get_full_name }}
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>
{% endblock %}