{% extends "base.html" %}
{% block title %}Edit your account{% endblock %}
{% block content %}
<h1>Aashu Gupta<h1>
<h2>College: IIT(B.H.U), VARANASI</h2>
<h2>E-mail id: aashu.gupta.min16@itbhu.ac.in</h2>
<h2>Phone no.- 7376360991</h2>
<br/>
<br/>
<h1>Gagan Tyagi<h1>
<h2>College: Chandigarh University</h2>
<h2>E-mail id: gagantyagi625@gamil.com</h2>
<h2>Phone no.- 7017783382</h2>
<br/>
<br/>
<h2>Below is the typical tech stack that I use for projects I've worked on:</h2>
<ul>
<li>DJANGO</li>
<li>HTML</li>
<li>CSS</li>
<li>BOOTSTRAP</li>
<li>JQUERY</li>
<li>JAVASCRIPT</li>
<li>AJAX</li>
</ul>
{% endblock %}